<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SCAIS_DB"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SCAIS_DB;User ID=scais_user;Password=SecurePass123!"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
